html {
    background-color: #c2e67c
}

h1 {
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    font-size: 50px;
    text-align: center;
}

.book {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 30%;
    max-height: 30%;
    padding-bottom: 50px;
}

.recipe-list {
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 25px;
    display: block;
    text-align: center;
    margin: 0px;
    padding: 7px;
}

.recipe-title {
    color: blue;
}

.ingredients-title {
    color: green;
}

.ingredients {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkslategray'
}

.steps-title {
    color: orange;
}

.steps {
    font-family:'Courier New', Courier, monospace;
}